<div class="single__row">
    <h3 class="single__title">
        Thông tin đơn hàng
    </h3>

    <div class="table__res">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <a href="detail__product.html" class="cart__product" title="cart__product-avata">
                            <div class="cart__product-avata">
                                <div class="frame">
                                    <img src="images/product__1.jpg" alt="product__1.jpg" />
                                </div>
                            </div>
                            <div class="cart__product-content">
                                <h3 class="cart__product--title">
                                    cart__product-avata
                                </h3>
                                <p class="cart__size">
                                    100ml
                                </p>
                                <p class="cart__total">
                                    Số lượng: 1
                                </p>
                            </div>
                        </a>
                    </td>
                    <td>
                        1.250.000
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="detail__product.html" class="cart__product" title="cart__product-avata">
                            <div class="cart__product-avata">
                                <div class="frame">
                                    <img src="images/product__1.jpg" alt="product__1.jpg" />
                                </div>
                            </div>
                            <div class="cart__product-content">
                                <h3 class="cart__product--title">
                                    cart__product-avata
                                </h3>
                                <p class="cart__size">
                                    100ml
                                </p>
                                <p class="cart__total">
                                    Số lượng: 1
                                </p>
                            </div>
                        </a>
                    </td>
                    <td>
                        1.250.000
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="total__goup">
                            <input type="number" class="from-control" placeholder="Điểm thưởng">
                            <button type="button" class="btn btn__total">
                                Áp dụng
                            </button>
                        </div>
                        <p class="point">
                            * Điểm hiện tại của bạn: 100

                        </p>
                        <p class="point__info">
                            Mỗi điểm thưởng tương đương với 1000VND. Tích điểm bằng cách mua sắm, mua sắm càng nhiều
                            điểm
                            thưởng càng nhiều
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tạm tính
                    </td>
                    <td>
                        1.900.000
                    </td>
                </tr>
                <tr>
                    <td>
                        Phí vận chuyển
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </td>
                    <td>
                        30.000
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Tổng tiền
                        </b>
                    </td>
                    <td>
                        <b>
                            1.930.000
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
