<header id="header">
    <div class="container">
        <div class="header__main">
            {% include "../addons/addon-logo.twig" %} {% include "../addons/addon-menu.twig" %} {% include "../addons/addon-search.twig" %}
            <div class="language__box">
                <a href="#" class="language-item active">VIE</a>
                <a href="#" class="language-item ">ENG</a>
            </div>
            <button type="button" class="btn toggle__menu">
                <img src="images/icons/icon__menu.png" alt="icon__menu.png">
            </button>
        </div>
    </div>
</header>