<footer id="footer">
    <div class="bg__footer">
        <img src="images/bg-footer.png" alt="bg-footer.png">
    </div>
    <div class="container">
        <div class="module module__footer">
            <div class="footer__group">
                <div class="logo__footer">
                    <img src="images/icons/icon__logo-footer.png" alt="icon__logo-footer.png">
                </div>
                <div class="footer__box">
                    <div class="footer__info">
                        <div class="footer__info-item">
                            <img src="images/icons/icon__f-home.svg" alt="icon__f-home.svg">
                            <div class="info-add">
                                <p>
                                    Trụ sở chính: 313 Trường Chinh, Thanh Xuân, Hà Nội
                                </p>
                                <p>
                                    VPGD: 315 Trường Chinh, Thanh Xuân, Hà Nội
                                </p>
                            </div>
                        </div>
                        <div class="footer__info-item">
                            <img src="images/icons/icon__f-phone.svg" alt="icon__f-phone.svg">
                            <p>
                                Hotline: 01665798789897
                            </p>
                        </div>
                        <div class="footer__info-item">
                            <img src="images/icons/icon__f-world.svg" alt="icon__f-world.svg">
                            <p>
                                Website: info.com.vn
                            </p>
                        </div>
                    </div>
                    <div class="footer__register">
                        <div class="footer__register-title">
                            ĐĂNG KÝ NHẬN BẢN TIN
                        </div>
                        <span>Để nhận thông tin dự án mới nhất và ưu đãi từ Chủ đầu tư</span>
                        <form action="">
                            <div class="input-box">
                                <input type="text" name="" id="" class="input__control" placeholder="Email">
                            </div>
                            <button class="btn btn__register">
                                ĐĂNG KÝ
                            </button>
                        </form>
                        <div class="footer__connect">
                            <a href="#">
                                <img src="images/icons/icon__f-face.svg" alt="icon__f-face.svg">
                            </a>
                            <a href="#">
                                <img src="images/icons/icon__f-twitter.svg" alt="icon__f-twitter.svg">
                            </a>
                            <a href="#">
                                <img src="images/icons/icon__f-google.svg" alt="icon__f-google.svg">
                            </a>
                            <a href="#">
                                <img src="images/icons/icon__f-youtube.svg" alt="icon__f-youtube.svg">
                            </a>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <ul class="footer__menu-list">
                            <li class="footer__menu-item">
                                <a href="#" class="footer__menu-link" title="Giới thiệu">
                                    Giới thiệu
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__menu-link" title="tin tức">
                                    tin tức
                                </a>
                            </li>
                            <li class="footer__menu-item">
                                <a href="#" class="footer__menu-link" title="liên hệ">
                                    liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>