@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.woff");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.woff");
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.woff");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.woff");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto-Italic.woff");
    font-display: swap;
    font-weight: 400;
}