$primary: #156EAA;
$secondary: #27AE60;
$highlight: #E91F27;
$bgfooter: #1B2E56;
//
$textColor: #333;
$textSub: #5B6062;
$textSub-2: #808080;
$colorGray: #0d0d0d;
$colorBorder: #ebebeb;
//
$gradient-1: linear-gradient(270deg, #F2F2F2 1.22%, #6FCF97 100%);
$gradient-2: linear-gradient(262.56deg, #00AC5A 2.18%, #0272BC 85.28%);
//
$font-family: "Roboto-Regular",
sans-serif;
$font-light: "Roboto-Light",
sans-serif;
$font-bold: "Roboto-Bold",
sans-serif;
$font-medium: "Roboto-Medium",
sans-serif;