{% extends "../layouts/master-layout.twig" %} {% set pages = 'index' %} {% block titlePage %} SƠN TRANG {% endblock %} {% block bodyClass %}{% endblock %} {% block stylePage %}
<link rel="stylesheet" href="./css/pages/index.css" /> {% endblock %} {% block content %} {% include "../addons/addon-slide.twig" %}

<section class="home__brand">
    <div class="container">
        <div class="home__brand-group">
            <div class="home__brand-item">
                <img src="images/brand-1.png" alt="brand-1.png">
            </div>
            <div class="home__brand-item">
                <img src="images/brand-2.png" alt="brand-2.png">
            </div>
            <div class="home__brand-item">
                <img src="images/brand-3.png" alt="brand-3.png">
            </div>
            <div class="home__brand-item">
                <img src="images/brand-4.png" alt="brand-4.png">
            </div>
            <div class="home__brand-item">
                <img src="images/brand-5.png" alt="brand-5.png">
            </div>
            <div class="home__brand-item">
                <img src="images/brand-6.png" alt="brand-6.png">
            </div>
        </div>
    </div>
</section>
<div class="line__global"></div>

<section class="home__introduce">
    <div class="container">
        <div class="module module__home-introduce">
            <div class="home__introduce-content">
                <div class="title__global-1">
                    <h1>Giới thiệu</h1>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt
                    </p>
                    <a href="#" class="btn btn__more">
                        +
                    </a>
                </div>
                <div class="home__introduce-group">
                    <div class="home__introduce-item">
                        <div class="home__introduce-icon">
                            <img src="images/icons/icon__eye.svg" alt="icon__eye.svg">
                        </div>
                        <div class="introduce__item-content">

                            <h3 class="introduce__item-title">
                                Tầm nhìn - Sứ mệnh
                            </h3>
                            <p class="introduce__item-desc">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit
                            </p>
                        </div>
                    </div>
                    <div class="home__introduce-item">
                        <div class="home__introduce-icon">
                            <img src="images/icons/icon__cup.svg" alt="icon__cup.svg">
                        </div>
                        <div class="introduce__item-content">

                            <h3 class="introduce__item-title">
                                Văn hóa doanh nghiệp
                            </h3>
                            <p class="introduce__item-desc">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit
                            </p>
                        </div>
                    </div>
                    <div class="home__introduce-item">
                        <div class="home__introduce-icon">
                            <img src="images/icons/icon__chart.svg" alt="icon__chart.svg">
                        </div>
                        <div class="introduce__item-content">

                            <h3 class="introduce__item-title">
                                Quá trình phát triển
                            </h3>
                            <p class="introduce__item-desc">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit
                            </p>
                        </div>
                    </div>
                    <div class="home__introduce-item">
                        <div class="home__introduce-icon">
                            <img src="images/icons/icon__team.svg" alt="icon__team.svg">
                        </div>
                        <div class="introduce__item-content">

                            <h3 class="introduce__item-title">
                                Đội ngũ
                            </h3>
                            <p class="introduce__item-desc">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__introduce-sidebar">
                <h2>GIẢI THƯỞNG</h2>
                <div class="home__introduce-slide">
                    <div class="introduce__slide-item">
                        <div class="frame">
                            <img src="images/introduce__slide-1.png" alt="introduce__slide-1.png">
                        </div>
                    </div>
                    <div class="introduce__slide-item">
                        <div class="frame">
                            <img src="images/introduce__slide-1.png" alt="introduce__slide-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="line__global"></div>

<section class="home__news">
    <div class="container">
        <div class="module module__home-news">
            <div class="home__news-group">
                <div class="title__global-1">
                    <h2>Tin tức</h2>
                </div>
                <div class="home__news-content">
                    <div class="home__news-item title" style="background-image: url('images/home__news-1.png');">
                        <div class="frame">
                            <div class="home__news-title">
                                <h3>THÔNG BÁO</h3>
                                <p>MỜI THẦU</p>
                            </div>
                            <a href="#" class="btn btn__more">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="home__news-item" style="background-image: url('images/home__news-2.png');">
                        <div class="frame">
                            <div class="home__news-title">
                                <h3>TUYỂN DỤNG</h3>
                                <p>CHUYÊN VIÊN PHÁP CHẾ</p>
                            </div>
                            <a href="#" class="btn btn__more">
                                +
                            </a>
                        </div>
                    </div>
                    <div class="home__news-item" style="background-image: url('images/home__news-3.png');">
                        <div class="frame">
                            <div class="home__news-title">
                                <h3>THÔNG BÁO</h3>
                                <p>GIA HẠN BÁN ĐẤU GIÁ TÀI SẢN THANH LÝ</p>
                            </div>
                            <a href="#" class="btn btn__more">
                                +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home__news-sidebar">
                <div class="news__sidebar-item">
                    <h4 class="news__sidebar-title">
                        Thư mời thầu
                    </h4>
                    <time>October 24, 2018</time>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                    </p>
                    <a href="#" title="Xem thêm">Xem thêm</a>
                </div>
                <div class="news__sidebar-item">
                    <h4 class="news__sidebar-title">
                        Tuyển dụng Chuyên viên Pháp chế
                    </h4>
                    <time>October 24, 2018</time>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                    </p>
                    <a href="#" title="Xem thêm">Xem thêm</a>
                </div>
                <div class="news__sidebar-item">
                    <h4 class="news__sidebar-title">
                        Thông báo đấu giá tài sản thanh lý
                    </h4>
                    <time>October 24, 2018</time>
                    <p>
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                    </p>
                    <a href="#" title="Xem thêm">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %} {% block scriptPage %}
<script src="./js/plugins/slick.js"></script>
<script src="./js/plugins/jquery.coundown.js"></script>
<script src="./js/plugins/tab.js"></script>
<script type="module">
    import addonBanner from "./js/addons/addon-banner.js"; addonBanner();
</script>
<script>
    $('.home__introduce-slide').slick({
        arrows: false,
        dots: true,
    });
</script>
{% endblock %}