<section class="addon__banner">

    <div class="banner__item">
        <div class="frame">
            <img src="images/slider__1.png" alt="slider__1.png">
        </div>
    </div>
    <div class="banner__item">
        <div class="frame">
            <img src="images/slider__1.png" alt="slider__1.png">
        </div>
    </div>
    <div class="banner__item">
        <div class="frame">
            <img src="images/slider__1.png" alt="slider__1.png">
        </div>
    </div>

</section>
