<div class="addon__search">
    <button type="button" class="btn btn__toggle-search">
        <img src="images/icons/icon__search.svg" alt="icon__search.svg">
    </button>
    <div class="main__search">
            <form class="form__search">
                <input type="text" placeholder="Tìm kiếm..." class="input__search">
                <button type="submit" class="btn btn__search">
                    <img src="images/icons/icon__search.svg" alt="icon__search.svg">
                </button>
            </form>

    </div>
</div>
