<ul class="addon__pagination">
    <li class="addon__pagination-item active">
        <a href="#" class="addon__pagination-item-link">1</a>
    </li>
    <li class="addon__pagination-item">
        <a href="#" class="addon__pagination-item-link">2</a>
    </li>
    <li class="addon__pagination-item">
        <a href="#" class="addon__pagination-item-link">3</a>
    </li>
    <li class="addon__pagination-item">
        <a href="#" class="addon__pagination-item-link">4</a>
    </li>
    <li class="addon__pagination-item">
        <a href="#" class="addon__pagination-item-link">5</a>
    </li>
    <li class="addon__pagination-item">
        <a href="#" class="addon__pagination-item-link">
            <img src="images/icons/icon__double-right.svg" alt="icon__double-right.svg"> {# <i class="fa fa-angle-right" aria-hidden="true" aria-hidden="true"></i> #}
        </a>
    </li>
</ul>
