<div id="addon__society">
    <div class="addon__item left">
        <a href="#" class="addon__icon">
            <!-- <img src="images/icons/icon__call.svg" alt="icon__call.svg"> -->
        </a>
    </div>
    <div class="addon__item right">
        <a href="#" class="addon__icon">
            <!-- <img src="images/icons/icon__mess.svg" alt="icon__mess.svg" /> -->
        </a>
        <a href="#" class="addon__icon">
            <!-- <img src="images/icons/zalo.svg" alt="zalo.svg" /> -->
        </a>
    </div>
</div>
